html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  padding: 24px;
  max-width: 1500px;
  margin: 0 auto;
  grid-template-rows: 1fr 1.25fr;
  height: 100vh;
  text-align: center;

  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr minmax(0, 1fr);
    grid-template-rows: initial;
    justify-content: center;
  }

  @media screen and (min-width: 1920px) {
    max-width: 1760px;  
  }
}

.logo-container {
  align-self: center;

  @media screen and (min-width: 992px) {
    padding-right: 64px;
  }
}

.logo {
  max-width: 85%;
  
  @media screen and (min-width: 450px) {
    max-width: 75%;
  }

  @media screen and (min-width: 600px) {
    max-width: 65%;
  }

  @media screen and (min-width: 700px) {
    max-width: 60%;
  }

  @media screen and (min-width: 800px) {
    max-width: 45%;
  }

  @media screen and (min-width: 992px) {
    max-width: 100%;
  }
}

.countdown {
  font-family: 'Raleway';
  font-size: 28px;
  margin-top: 12px;
  min-height: 33px;
  text-shadow: 0 5px 8px #00000029;
}

.countdown span {
  margin-right: 12px;
}

.countdown span:last-of-type {
  margin-right: 0;
}


.waitlist {
  @media screen and (min-width: 992px) {
    align-self: center;
    padding-bottom: 20px;
    position: relative;

    &::before {
      border-left: 1px solid #1A1A1A;
      content: '';
      left: 0;
      height: 100%;
      position: absolute;
    }
  }
}

.waitlist .header {
  color: #1A1A1A;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-shadow: 0 3px 6px #00000029;
  text-transform: uppercase;
}

.waitlist .follow-text {
  font-size: 24px;
  font-family: 'Helvetica';
}

.follow-text .litepaper {
  color: #B3D049;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.follow-text .litepaper:hover {
  color: #9ab93e;
}

.social-icons {
  cursor: pointer;
  display: flex;
  column-gap: 8px;
  justify-content: space-between;
  margin: 48px 0;
  padding: 0 24px;

  @media screen and (min-width: 490px) {
    justify-content: center;
    column-gap: 64px;
  }

  @media screen and (min-width: 992px) {
    padding: 0 120px;
  }
}

.social-icons img {
  width: 36px;
}

.icon-container {
  align-items: center;
  display: flex;
  transition: transform 0.3s ease;
}

.icon-container:hover {
  transform: scale(1.2);
}

.subscripe-text {
  font-size: 24px;
  font-family: 'Helvetica Neue';
}

.subscribe-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 24px;

  @media screen and (min-width: 992px) {
    margin-bottom: 0;
  }
}

.subscribe-form .input-field {
  position: relative;
  width: fit-content;
}

.subscribe-form .input-field::after {
  content: '';
  border-bottom: 1px solid white;
  bottom: 8px;
  left: 50%;
  opacity: 80%;
  position: absolute;
  transform: translateX(-50%);
  width: 80%;
}

.subscribe-form input {
  align-self: center;
  background: #1A1A1A;
  border: none;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  outline: none;
  padding: 12px 16px;
  text-align: center;
  width: 100%;

  @media screen and (min-width: 992px) {
    padding: 12px 64px;
  }
}

.subscribe-form button {
  align-self: center;
  background: #66CC66;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 3px 6px #00000029;
  color: white;
  font-size: 28px;
  font-family: 'Raleway';
  padding: 8px 28px;
  transition: background-color 0.3s ease;
}

.subscribe-form button:hover {
  background: #59b359;;
}

img {
  height: auto;
  width: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 80%;
  text-align: center;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  opacity: 80%;
  text-align: center;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  opacity: 80%;
  text-align: center;
}